body {
  padding-left: 40px;
}

.progress {
  width: 100.8px;
  height: 16.8px;
  background: linear-gradient(#474bff 0 0) left/0% 100% no-repeat
      #dbdcef;
  animation: progress-jgv380 60s infinite linear;
}

@keyframes progress-jgv380 {
  100% {
     background-size: 100% 100%;
  }
}